<div>
    Id: {{id}} <br/>
    Id: {{name}} <br/>
    Id: {{avg}} <br/>
    
    <b><u><Address></Address></u></b>
    streetNo: {{address.streetNo}} <br/>
    city: {{address.city}} <br/>
    State: {{address.state}} <br/><br/>
    
    <b><u>Hobbies</u></b>
    <ul>
        <li *ngFor="let hobby of hobbies">{{hobby}} </li>
    </ul>
    
    </div>